# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Data
data/
documents/

# Docker volumes
mysql_data/
redis_data/
prometheus_data/
grafana_data/
elasticsearch_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Monitoring
monitoring/elasticsearch/data/
monitoring/grafana/data/
monitoring/prometheus/data/

# Temporary files
*.tmp
*.temp
.cache/
